{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Page</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'core/personal_page.css' %}">

</head>
<body> 
    <nav class="header">
        <a href="{% url 'core:initial_page'%}" style="margin-left:70px;">
            <img class="logo" src="{% static 'core/images/tshirt.png' %}" alt="T-Shirt" />
        </a>
        {% block content %}
        {% endblock %}
    </nav>
    
    <main>
        <div class="sidebar">
            <a href="{% url 'core:edit_profile'%}">
                <p><i class="fa fa-pencil" aria-hidden="true" style="margin-top:28px;"></i> Edit Profile</p>
            </a>
                
            <a href="{% url 'core:user_clothing_items'%}">
                <p> <i class="fa fa-tag" aria-hidden="true"></i></i> My Clothes</p>
            </a>

            <p><i class="fa fa-check-square" aria-hidden="true"></i> My Creations</p> 
            
            <a href="{% url 'core:add_clothing_item'%}">
                <p><i class="fa fa-upload" aria-hidden="true"></i> Upload Clothes</p>
            </a>
            
            <p><i class="fa fa-plus-square" aria-hidden="true"></i> Create Outfit</p>
            <p><i class="fa fa-users" aria-hidden="true"></i> Friends</p>
            
            
        </div>
        <div class="content">
            {% if dont_has_picture %}
                <img id="user-photo" src="{% static 'core/images/default_picture.jpeg' %}">
            {% else %}
                <img id="user-photo" src="{% static  'core/images/'%}{{user.username}}.png">
            {% endif %}

            <div class="user-info">
                <h1 id="username">{{request.user.username }}</h1>
                <h3 style="color: #4B4B4B; margin-bottom:0px;">Bio:</h3>
                <h1 style="color: #4B4B4B; margin-top:0px;"> {{request.user.profile.bio}}</h1>
            </div>
        </div>
    </main>

</body>
</html>